html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font: inherit;
    font-family: MicrosoftJhengHei,"微軟正黑體",Arial,sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a{
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 這是index頁 */


body{
    max-width:1025px;
    margin: 0 auto;

}

/*
 *
header
 *
 */

.header{
    position: relative;
}
.menu{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    width:100%;
}
.logo{
    display: inline;
}
.logo h1{
    display: inline-block;
    padding: 19px 30px;
    padding-left:40px;
}
.logo h1 a{
    display: inline-block;
    background-image: url(images/hex-logo.png);
    width: 170px;
    height: 36px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.menu-nav{
    display: inline;
    float: right;
    height: 77px;
    margin-right:15px;
}
.menu-nav li{
    float: left;
    margin:30px 10px 10px 0 ;
    border: #000 1px ;
}
.menu-nav li a{
    padding:20px;
    padding-bottom: 23px;
    font-size: 14px;
    font-weight: 100;
    color: #fff;
}
.menu-nav .check{
    color: #00cc99;
    border-bottom: 7px solid #00cc99;
}
.menu-nav .check:hover{
    color: #00cc99;
    border-bottom:none;
}
.menu-nav a:hover{
    color: #00cc99;
    border-bottom: 7px solid #00cc99;
}
.banner{
    background-image: url(images/home-banner.png);
    height:560px;
    background-size: cover;
    background-position: center;
}
.banner p{
    font-size: 46px;
    color: #00cc99;
    position: absolute;
    line-height: 150%;
    bottom: 48%;
    margin-left:40px; 
    letter-spacing: 1px;
    font-family: MicrosoftJhengHei;
}
.banner p span{
    color: #fff;
}
.banner-btn {
    float: left;
    position: absolute;  
    top: 60%;
    margin-left: 40px;
    padding: 10px 30px;
    background-color: #00cc99;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.banner-btn:hover{
    border: 2px solid #fff;
}


/*
 *
content
 *
 */


.all-content-title{
    height: 30px;
    margin-top: 40px;
    margin-left:30px;
    letter-spacing: 1px;
}
.compare-title h2,.all-content-title h2{
    display: inline;
    float: left;
    color: #00cc99;
    font-size: 36px;
    letter-spacing: 1px;
}
.compare-table .compare-title p,.content .all-content-title p{
    float: left;
    font-size: 20px;
    padding-top:6px; 
    margin-left: 15px;
    vertical-align: bottom;
}
.content-btn{
    display: inline;
    float: right;
    margin-top: 10px;
    margin-right: 6%;
    padding: 2px 10px;
    background-color: #fff;
    color:#00cc99;
    font-size: 15px;
    border:2px solid #00cc99;
    border-radius: 5px;
    cursor: pointer;
}
.content-btn:hover{
    border: 3px solid #00cc99
}
.compare-title p,.content p{
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    color: rgb(150, 150, 150);
}
.content ul{
    margin:10px 5%; 
}
.content li{
    display: inline;
    float: left;
    padding: 25px 10px 20px 10px;
    margin:20px 10px;
    text-align: center;
    width: 260px;
    box-shadow: 0px 2px 7px rgb(150, 150, 150);
}
.content .content-item-title{
    font-size: 20px;
    color: #000;
    padding: 10px 0 5px 0;
}

/*
 *
compare table
 *
 */


.compare-title{
    margin-top: 40px;
    margin-left:30px;
}
.table-style{
    margin: 30px auto;
}
.table-style td,.table-style th{
    padding: 16px 65px;
    text-align: center;
    border-top: 1px solid rgb(234,234,234);
}
.table-style th{
    background-color: rgb(234,234,234);
}
.c-color{
    color: #00cc99;
}


/*
 *
form
 *
 */


.ask-form{
    background-color: rgb(234,234,234);
    height: 400px;
}
.ask-form p{
    float: left;
    margin: 15% 0 0 45px;
    font-size: 30px;
    line-height: 200%;
    letter-spacing:0.8px;
}
.text,.ask-form-btn{
    font-size: 20px;
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 5px;
}
.text{
    max-width: 460px;
    padding-right: 230px;
    font-size: 21px;
}
.form-right{
    float: right;
    position: relative;
    margin: 15% 20px 0 30px;
}
.form-right ul{
    position: absolute;
    right: 22px;
}
.form-right li{
    margin: 0px 0px 20px 0;
}
::placeholder{
    font-weight: 400;
    color: rgb(150, 150, 150);
}
.ask-form-btn{
    position: absolute;
    right: 0px;
    padding: 12px 40px 12px 40px;
    background-color: #00cc99;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
}
.ask-form-btn:hover{
    border: 1px solid #00cc99;
    background-color: #fff;
    color:#00cc99;
    font-weight: bold;
}
.clearfix{
    clear: both;
}
/*
 *
footer
 *
 */

.footer{
    background-color: rgb(50, 50, 40);
}
.footer-logo{
    margin: 37px 0 33px 40px 
}
.footer-icon{
    display: inline;
    float: right;
    margin-right:30px; 
}
.footer-icon img{
    float: left;
    margin: 50px 10px;
}




/* 這裡是course部分 */




/*
 *
header
 *
 */

.course-banner{
    background-image: url(images/course-banner.png);
    height:560px;
    background-size: cover;
    background-position: center;
}
.course-banner p{
    color: #fff;
    position: absolute;
    line-height: 70%;
    bottom: 52%;
    margin-left:40px; 
}
.course-banner p span{
    font-size: 22px;
    font-weight: 300;
    color: #00cc99;
}
.course-banner ul{
    float: right;
    position: absolute ;
    right: 10px;
    top:21%;
    padding-right: 30px;
}
.course-banner li{
    display: inline;
    margin-right:30px ;
}
.course-banner .banner-btn {
    float: left;
    position: absolute;  
    top: 60%;
    margin-left: 40px;
    padding: 10px 30px;
    background-color: #00cc99;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.course-banner .banner-btn:hover{
    border: 2px solid #fff;
}


/*
 *
content
 *
 */



/* 老師的部分 */

.course-content-teacher,.outline-title,.content-order{
    margin-left: 15%;
}
.course-content-teacher img,.course-content-teacher p{
    display: inline;
    float: left;
    margin: 60px 0 20px 5%;
}
.course-content-teacher p{
    color: #00cc99;
    font-size: 35px;
    margin-left: 4%;
    margin-top: 14%;
    line-height: 150%;       
}
.course-content-teacher span{
    color: #000;
}
.course-content-teacher ul{
    float: left;
    margin-top: 15%;
    margin-left: 30px;
    font-weight: 400;
}
.course-content-teacher li{
    color: rgb(150, 150, 150);
    font-weight: 300;
    line-height: 150%;
}

/* 課程特別部份 */

.outline-title h2{
    margin-left:5.5%; 
}
.outline-title p{
    float: left;
    font-size: 19px;
    font-weight: 300;
    padding-top:15px; 
    margin-left: 12px;
    color: rgb(150, 150, 150);
    
}
.content-order ol{
    float: left;
    margin:25px 20% 10px 70px;
    list-style-type: decimal;
}
.content-order li{
    padding-left:15px;
    padding-right:4%; 
    line-height: 150%;
    font-weight: 500;
    letter-spacing: 0.5px;
}

/* 課程大綱 */

.course-outline{
    margin: 0 auto;
}
.outline ul{
    margin:25px 23.6% 40px 19.8%;
}
.outline li{
    width: 100%;
    line-height: 35px;
    padding: 10px 0 10px 40px;
    color: rgb(150, 150, 150);
    letter-spacing: 1px;
}
.outline li.outline-color{
    background-color: rgba(200,200,200,0.4) ;
    height: 30px;
    color: #000;
    font-weight: 500;
}

/* 消息表單 */

.form-text p{
    margin: 15% 0 0 19.8%;
    font-size: 30px;
    font-weight: 400;
    line-height: 200%;
}
.form-text-btn{
    position: relative;
    top: 54%;
    right: -6%;
    padding: 12px 37px 12px 39px;
    letter-spacing: 1px;
}






/* 這裡是qaf部分 */



/*
 *
header
 *
 */



.qaf-banner{
    background-image: url(images/qaf-banner.png);
}
.qaf-banner p{
    color: #fff;
    position: absolute;
    line-height: 90%;
    bottom: 50%;
    margin-left:33%; 
    text-align: center;
}
.qaf-banner p span{
    font-size: 22px;
    font-weight: 300;
    color: #00cc99;
}
.qaf-text-box .qaf-box{
    position: absolute;
    top: 56%;
    margin-left:20%; 
    width: 700px;
    height: 52px;
}
input[type="search"]{
    -webkit-appearance: none;
    float: left;
    width: 525px;
    height: 52.2px;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    padding: 14.5px 10%; 
    background-color: #fff;
    color: #000;
}
.qaf-search-btn{
    margin: 0; 
    padding: 11px 15px 11px 27px;
    height: 52.2px;
    border-radius: 0 5px 5px 0;
    background-color: #fff;
    border: none;
}
.qaf-search-btn a{
    padding: 10px;
    padding-top:24px; 
}
.qaf-search-btn:hover{
    background: linear-gradient(90deg,#fff,#00cc99,#00cc99);
}


/*
 *
content
 *
 */



.ask-title h2{
    margin-top: 20px;
    margin-left: -4%;
}

.ask-title p{
    margin-top:20px; 
}

.ask{
    clear: both;
}
.ask ul{
    margin:57px 0 30px 11.5% ;
}
.ask li{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 120%;
    margin-top: 30px;
    margin-right: 10%;
}
.ask-A{
    font-size:16px;
    color: rgb(150,150,150) ;
}
.ask-color{
    color: #00cc99;
}
.ask-item{
    list-style: decimal;
}
.ask-item li{
    font-size:16px;
    color: rgb(150,150,150) ;
    margin: 8px 0 0 6.5%;
    padding-left: 15px;
    letter-spacing: 0.5px;
}
ul.ask-money{
    margin-top: -5px;
}
ul.ask-money li{
    list-style-type: none;
    margin-left:-14.3%; 
    margin-right: 2%;
    padding-left:10px; 
}
.ask-money span{
    padding-left: 30px;
    padding-right: 30px;
}


/* 表單部分 */

.qaf-ask-form{
    height: 600px;
}
.qaf-ask-form p{
    margin-top: 12% ;
}
.ask-form-right{
    margin-top: 11.5% ;
}
.textarea{
    height:170px;
    padding-right: 225px;
}